<configuration>

    <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>testFile.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <file>logs/log-${bySecond}.txt</file>
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <!--        <appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE" />
    </root>
</configuration>